<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Project - PyDef </title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  
  <body>

<pre>

                             Welcome PyDef Project!
							 
名称： Python函数精度检索项目

功能：	通过函数名， 类名，模型名等，快速检索其参考值。提供了诸如
	使用格式，功能描述，输入，输出，范例，源码分析等功能，加速
	使用者对特定功能的了解。
	
参与人员：
		创建者：xcluo, hongfei, junshang, lirong, Stephone
		参与者：xcluo, hongfei, junshang, lirong, Stephone
		观察者：*
		
项目查看：
		http://pydef.sinaapp.com/index/
		
进度：
	2012-05-12: 项目开启座谈
	2012-05-12：论证功能，与技术点，确定核心人员
	
	2012-05-26： *
	
	
</pre>

  </body>
</html>
