{% extends "base.html" %}

{% block title %} {{funcname}} {% endblock %}

{% block context %}
<h1 id="index" style="width: 100;">函数 &ndash; {{funcname}}</h1>
<table width="100%" class="indextable"><tr><td width="33%" valign="top">
	<div style="width: 100%;">
		<p> 格式: </p>
		<p> &nbsp; &nbsp; &nbsp; &nbsp; joiewjfwoiefjweoifjewqifowqoijf </p>
	</div>

        <div style="float:right"> <a href="/edit/">编辑本段</a> </div>
	    <br /><hr />
    <div style="width: 100%;">
		<p> 功能: </p>
		<p> &nbsp; &nbsp; &nbsp; &nbsp; oiewjfwoiefjweoifjewqifowqoijf </p>
	</div>
        <div style="float:right"> <a href="/edit/">编辑本段</a> </div>
	    <br /><hr />
	<div style="width: 100%;">
		<p> 输入（参数）: </p>
		<p> &nbsp; &nbsp; &nbsp; &nbsp; joiewjfwoiefjweoifjewqifowqoijf </p>
	</div>
        <div style="float:right"> <a href="/edit/">编辑本段</a> </div>
	    <br /><hr />
	<div style="width: 100%;">
		<p> 输出: </p>
		<p> &nbsp; &nbsp; &nbsp; &nbsp; joiewjfwoiefjweoifjewqifowqoijf </p>
	</div>
        <div style="float:right"> <a href="/edit/">编辑本段</a> </div>
	    <br /><hr />
	<div style="width: 100%;">
		<p> 范例: </p>
		<p> &nbsp; &nbsp; &nbsp; &nbsp; joiewjfwoiefjweoifjewqifowqoijf </p>
	</div>
        <div style="float:right"> <a href="/edit/">编辑本段</a> </div>
	    <br /><hr />
	<div style="width: 100%;">
		<p> 源码: </p>
		<p> &nbsp; &nbsp; &nbsp; &nbsp; joiewjfwoiefjweoifjewqifowqoijf </p>
	</div>
        <div style="float:right"> <a href="/edit/">编辑本段</a> </div>
	    <br /><hr />
	<div style="width: 100%;">
		<p> 发布: </p>
		<p> &nbsp; &nbsp; &nbsp; &nbsp; joiewjfwoiefjweoifjewqifowqoijf </p>
	</div>
        <div style="float:right"> <a href="/edit/">编辑本段</a> </div>
	    <br /><hr />
</td></tr></table>
{% endblock %}
